@import './../../scss/variables';

.newsletter {
  display: flex;
  justify-content: center;
  padding: 8em 0;

  &__title {
    font: normal normal 300 50px/54px Montserrat;
    margin: 0 0 1.2em 0;
    max-width: 700px;
    text-align: center;

    &--highlighted {
      font-weight: 600;
    }

    @media screen and (max-width: 900px) {
      font-size: 40px;
      text-align: center;
    }

    @media screen and (max-width: 600px) {
      font-size: 32px;
      line-height: 40px;
    }
    
    @media screen and (max-width: 500px) {
      font-size: 28px;
      line-height: 36px;
    }

    @media screen and (max-width: 450px) {
      font-size: 26px;
    }
  }

  &__consent {
    font: normal normal 300 16px/24px Montserrat;
    margin: 0;
    max-width: 500px;
    text-align: center;

    @media screen and (max-width: 900px) {
      text-align: center;
    }

    @media screen and (max-width: 600px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;

  .MuiTextField-root {
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    color: #FFFFFF;
    height: 56px;
    margin-bottom: 1em;
    width: 400px;

    @media screen and (max-width: 600px) {
      height: 46px;
      width: 300px;
    }
  }
  
  fieldset.MuiOutlinedInput-notchedOutline.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border: none;
  }
  
  input#email {
    color: #FFFFFF;
    font: normal normal 600 17px/20px Montserrat;
    text-align: center;

    @media screen and (max-width: 600px) {
      padding: 10.5px 8px;
    }
  }

  .MuiButton-root.newsletter-form__button {
    background: #fff;
    border-radius: 30px;
    color: $primary-color;
    font: normal normal 600 17px/20px Montserrat;
    height: 58px;

    &:disabled {
      opacity: .6;
    }

    @media screen and (max-width: 600px) {
      height: 48px;
      width: 300px;
    }
  }
  
  .Mui-focused .MuiOutlinedInput-notchedOutline {
    border: none!important;
  }
}