.footer {
  background-color: #C14040;
  display: flex;
  justify-content: center;
  min-height: 300px;
  padding: 10em 0 3em 0;

  &__logo {
    height: 53px;
    margin-right: 2em;
    width: 93px;
  }

  &__title {
    font: normal normal 300 40px/54px Montserrat;
    margin: 0;

    &--highlighted {
      font-weight: 600;
    }
  }

  &__bottom-row {
    position: absolute;
    bottom: 0;
  }

  &__bottom-link {
    margin-right: 2em!important;
  }

  &___trademark {
    margin: 0 0 0 auto;
  }
}