.footer {
  background-color: #C14040;
  display: flex;
  justify-content: center;
  min-height: 300px;
  padding: 10em 0 3em 0;

  &--dark {
    background-color: #31333F;
    padding-top: 5em;
  }

  &__content {
    display: flex;
    justify-content: center;

    @media screen and (max-width: 500px) {
      align-items: center;
      flex-direction: column;
      padding-bottom: 5em;
    }
  }

  &__logo {
    margin-right: 2em;
    width: 93px;

    @media screen and (max-width: 900px) {
      width: 73px;
    }
    
    @media screen and (max-width: 768px) {
      width: 63px;
    }

    @media screen and (max-width: 600px) {
      width: 50px;
      margin-right: 1em;
    }

    @media screen and (max-width: 500px) {
      margin: 0 0 1em 0;
      width: 93px;
    }
  }

  &__title {
    font: normal normal 300 40px/54px Montserrat;
    margin: 0;

    &--highlighted {
      font-weight: 600;
    }

    @media screen and (max-width: 900px) {
      font-size: 32px;
    }

    @media screen and (max-width: 768px) {
      font-size: 28px;
    }

    @media screen and (max-width: 600px) {
      font-size: 22px;
    }

    @media screen and (max-width: 450px) {
      font-size: 20px;
    }
  }

  &__bottom-row {
    position: absolute;
    bottom: 0;
  }

  &__links {
    display: flex;
    flex: 1;
    justify-content: flex-start;

    @media screen and (max-width: 768px) {
      justify-content: center;
      margin-bottom: 1.5em;
    }
  }

  &__bottom-link {
    margin-right: 2em!important;

    @media screen and (max-width: 768px) {
      margin-right: 0!important;
    }
  }

  &___trademark {
    font-size: 14px;
    margin: 0 0 0 auto;

    @media screen and (max-width: 768px) {
      font-size: 12px;
      margin: 0;
      text-align: center;
      width: 100%;
    }
  }
}