body {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #fff!important;
  font: normal normal bold 16px/14px Montserrat;
  text-decoration: none!important;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.container {
  max-width: 1080px;
  position: relative;
}

.row {
  display: flex;
  flex: 1;
  width: 100%;
}

.col {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.col--justify-center {
  justify-content: center;
}