html {
  min-height: 100%;
}

body {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  min-height: 100%;
}

a {
  color: #fff!important;
  font: normal normal bold 16px/14px Montserrat;
  text-decoration: none!important;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
  position: relative;
}

.row {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  display: flex;
  flex: 1;
  flex-direction: column;

  @media screen and (max-width: 991px) {
    padding: 0 2em;
  }

  @media screen and (max-width: 500px) {
    padding: 0 1em;
  }
}

.col--justify-center {
  justify-content: center;
}