html {
  min-height: 100%;
}

body {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  min-height: 100%;
}

a {
  color: #fff!important;
  font: normal normal bold 16px/14px Montserrat;
  text-decoration: none!important;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
  position: relative;
  width: 100%;
}

.row {
  display: flex;
  flex: 1;
  width: 100%;
  
  @media screen and (max-width: 991px) {
    flex-wrap: wrap;
  }
}

.col {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 100%;

  @media screen and (max-width: 1200px) {
    padding: 0 1em;
  }
}

.col--justify-center {
  justify-content: center;
}

.app-store-link {
  &.--ios {
    display: none;
  }
}

.app-store-img {
  height: 45px;
  width: 152px;

  &.--ios {
    margin-right: 30px;
  }
}